<%- include layouts/header.ejs%>

    <body style="margin-top: 100px; text-align: center;">
        <p style="font-size: 25px; font-weight: bold">Bạn đã đăng xuất, vui lòng quay lại đăng nhập để tiếp tục</p>
        <form action="/">
            <input type="submit" value="QUAY LẠI" class="backButton">
        </form>
    </body>

<%- include layouts/footer.ejs%>