<body class="myBody">
<img src="/images/logo_main.jpg" width="100%" height="100px">
<ul>
    <li class="li-nav"><a href="/search">TÌM KIẾM NHANH</a></li>
    <li class="li-nav"><a href="/advance">TÌM KIẾM TÙY CHỌN</a>
    <li class="li-nav"><a href="/follow">THEO DÕI MÔN HỌC</a></li>
    <li><form action="/logout">
            <input type="submit" value="ĐĂNG XUẤT" class="logoutButton">
        </form></li>