<%- include layouts/header.ejs %>
    <%- include main.ejs %>
    <li class="li-nav"><a href="/upload">UPLOAD FILE ĐIỂM</a></li>
    <li class="li-nav"><a href="/delete">XÓA FILE ĐIỂM</a></li>
    </ul>
    <br/>

    <h2 style="margin-left: 100px;">File đã tồn tại</h2>

    <script type="text/javascript" src="/javascripts/index.js"></script>
    </body>

<%- include layouts/footer.ejs %>